body{
	background-color:white;	
	
}

header {
	height: 100%;
	background-image: url("../img/heroimage.jpg");
	background-size: cover;
	width:100%
}

section{
background-color:#66ccff;
color:white;
width:100%;
height:500px;
clear:left;

}

ul{
	
	 list-style-type: none;	
	
}
li {
   display:inline-block;
 width:200px;
 font-size:20px;
}
li a:hover{
	    border-bottom:3px solid green;
	
}
nav li a{
	text-decoration:none;
	display:block;
	color:black;
}
#navfixed{
	top:0px;
	margin:0px;
	width:100%;
	 z-index: 1;
	 background-color:white;
}
#sectionsdiv{
	
	position:absolute;
	width:100%;
	 z-index: -1;
}


.active {
     border-bottom:3px solid green;
}
.scrolling {
	position: fixed;
	width:100%;
}
.hometext{
	position:relative;
	top:45%;
	left:45%;
	width:50%;
}




